<ion-header>
  <ion-toolbar color="dark">
    <ion-icon slot="start" name="home" size="large" class="ion-padding"></ion-icon>
    <ion-title>
      Home
    </ion-title>
    <ion-text slot="end" class="ion-padding" (click)="cerrarSesion()">
      <p>Salir</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text color="tertiary" class="ion-text-center">
    <h1>Bienvenido</h1>
  </ion-text>

  <ion-list *ngFor="let category of categorias" >
    <ion-item>
      <ion-label>{{category.strCategory}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
